@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* https://css-tricks.com/box-sizing/ */
html {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.8em;
}

/* Mobile */
@media (max-width: 700px) and (min-width: 600px) {
    html {
        font-size: 16px;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 14px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Override browser default style sheet. */
body {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.3s, background-size 0.3s;
    background:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 1)
            ),
        linear-gradient(
            to right,
            rgba(186, 50, 227, 1),
            rgba(124, 11, 158, 1)
        );
    background-size: 100% 1.5px, 0 1.5px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
}
a:visited {
    /* Must be before hover */
    color: black;
}
a:hover, a:focus {
    color: #7c0b93;
    background-size: 0 1.5px, 100% 1.5px;
}
